<div class="clear"></div>
<div class="mar10"><img src="/assets/shade.jpg" width="934" height="15" /></div>


<div class="clear"></div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

<table class="tcontent" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top"><h2>Edit <%= resource_name.to_s.humanize %></h2>
		<center><%= devise_error_messages! %></center>
		<table width="60%" border="0" cellspacing="0" cellpadding="8">
      <tr>
        <td width="16%" align="left" valign="top"><%= f.label :email %> </td>
        <td width="20%" align="left" valign="top"><%= f.email_field :email %></td>
      </tr>
			
			<tr>
			  <td align="left" valign="top"><%= f.label :password %><i>(leave blank if you don't want to change it)</i></td>
				<td align="left" valign="top"> <%= f.password_field :password %></td>          
			</tr>
			
			<tr>
			  <td align="left" valign="top"><%= f.label :password_confirmation %></td>
				<td align="left" valign="top"> <%= f.password_field :password_confirmation %></td>          
			</tr>

			<tr>
			  <td align="left" valign="top"><%= f.label :current_password %><i>(we need your current password to confirm your changes)</i></td>
				<td align="left" valign="top"> <%= f.password_field :current_password %></td>          
			</tr>
			
			<tr>
			  <td align="left" valign="top"><%= f.label :first_name %></td>
				<td align="left" valign="top"> <%= f.password_field :first_name %></td>          
			</tr>
			
			<tr>
			  <td align="left" valign="top"><%= f.label :last_name %></td>
				<td align="left" valign="top"> <%= f.password_field :last_name %></td>          
			</tr>		
			
			<tr>
			  <td align="left" valign="top"></td>
				<td align="left" valign="top"> <%= f.submit "Update" %></td>          
			</tr>  			
		</td></tr>		
    </table>
	</td>	
	</tr>
	</table>
 <%end%> 

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>

<div class="clear"></div>
<div class="mar10"><img src="/assets/shade.jpg" width="934" height="15" /></div>
<div class="clear"></div>