<h1>Clients &amp; Matters</h1>

<%= render 'client_matter_search' %>

<table>
  <tr>
    <th>Client</th>
    <th>Matter</th>
    <th>Status</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Budget</th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td colspan="2"><%= link_to client.name, firm_client_path(current_firm, client) %></td>
    <td><%= client.status %></td>
    <td>???</td>
    <td>???</td>
    <td>???</td>
  </tr>
  <% client.matters.each do |matter| %>
  <tr>
    <td>&nbsp;</td>
    <td><%= link_to matter.name, firm_client_matter_path(current_firm, client, matter) %></td>
    <td><%= matter.status %></td>
    <td><%= matter.created_at %></td>
    <td><%= matter.end_date %></td>
    <td>???</td>
  </tr>
  <% end %>
<% end %>
</table>
