<div class="brdrBox1Content">
		<div class="aerobuttonmenu">
				<h1 align="center">Advanced Mobile Billing For Attorneys </h1>
		</div>
		<div class="clear"></div>
		<div class="mar10"><%= image_tag("shade.jpg", width: "934", height: "15") %></div>
		<div class="clear"></div>
		<table width="90%" border="0" align="center" cellpadding="8" cellspacing="0">
				<tr>
						<td align="center" valign="top"><a href="#"><%= image_tag "work.jpg", width: "288", height: "408", border: "0" %></a></td>
						<td align="center" valign="top"><a href="#"><%= image_tag "price.jpg", width: "288", height: "408", border: "0" %></a></td>
						<td align="center" valign="top"><a href="#"><%= image_tag "start.jpg", width: "288", height: "408", border: "0" %></a></td>
				</tr>
		</table>
		<div class="clear"></div>
		<div class="mar10"><%= image_tag("shade.jpg", width: "934", height: "15") %></div>
		<div class="clear"></div>
</div>