<!DOCTYPE html>
<html>
<head>
  <title>Billz</title>
  <%= stylesheet_link_tag    "application", :debug => true %>
  <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
  <%= javascript_include_tag "application", :debug => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		<div class="container">
				<div id="menu">
						<div class="lftcurve">
								<div class="rtcurve">
										<div class="clsFloatLeft"><%= link_to image_tag('logo.jpg', width: "412", height: "78", border: "0", style: "margin-top:-12px;"), root_path %></a></div>
										<%= render :partial => "shared/header_links" %>
								</div>
						</div>
				</div>
				<div class="clear"></div>
				<div class="brdrBox1">
						<span class="brdr1ct"><span class="brdr1cl"></span></span>
						<%= render 'shared/menu/firm' if current_firm %>
						
						<%= yield %>
						
						<%= render :partial => 'shared/footer' %>
						<span class="brdr1bl"><span class="brdr1br"></span></span>
				</div>
		</div> 
		<%= debug(params) %>
</body>
</html>
